logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
!.autod.conf.js

app/**/*.js
!app/client/webpack.client.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map

.env
uploads/**

!app/public/**
!uploads/static
!uploads/static/**

app/view/*
!app/view/layout.html
